* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
}

header {
    background: #333;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    text-align: end;
    padding-left: 0;
}
.logo_name{
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
}


nav ul li {

    display: inline-block;
}


nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

section {
    padding: 40px 0;
}

section h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

section p {
    margin-bottom: 20px;
}

.menu-item {
    margin-bottom: 20px;
    max-width: 372px;
}

.menu-item img {
    width: 60%;
    height: auto;
}
.container_burger {
    display: flex;
    flex-wrap: wrap;

}

.menu-item h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.menu-item p {
    margin-bottom: 10px;
}

.menu-item .price {
    font-weight: bold;
}

form input,
form textarea {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

form button {
    display: block;
    padding: 10px 20px;
}
.carousel {
    width: 60%;
    margin: auto;
    padding-bottom: 20px;
}

.btn_menu {
    display: inline-block;
    padding: 10px 20px;
    background: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}

.btn_menu:hover {
    background: #555;
}
.contact{
    padding-top: 20px;
    margin: auto;
    text-align: center;
    flex-wrap: wrap;
    padding-bottom: 20px;

}
.img_inst{
    padding-right: 10px;
    max-height: 25px;
    max-width: 25px;
}
.img_telegram {
    margin-left: 60px;
    padding-right: 10px;
    max-height: 25px;
    max-width: 25px;
}
.telegram{
    color: black;
}
.instagram{
    color: black;
}
